.card{
    display: block;
    margin: 1rem;
}
.cardImg{
    width: 5rem;
    margin: 2rem;
}
.card-body{
    text-align: center;
}

#titleFeature{
    padding: 4rem;
    font-size: 2rem;
}

#cards{
    display: flex;
    justify-content: center;
    width: 100%;
}

.featuresCourse{
    background-color: #F8F2E9;
}

@media screen and (max-width: 768px){

.card{
    margin: 0rem;
    margin-top: 1rem;
}

#cards{
    flex-direction: column;

}


}